<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# remove this for deployment: #}
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='style.css') }}" media="all">
    <link rel="icon" type="image/png"
        href="{{ url_for('static', filename='favicon.png') }}" />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    {% if g.user %}

        <ul class="flex pl-2">
            <li class="mr-6">
               <a href="{{ url_for('message.index') }}"
                  class="text-sky-700 hover:text-gray-700 p2"
                  >chat</a>
            </li>
            <li class="mr-6">
               <a href="{{ url_for('profile.profile')}}"
                  class="text-sky-700 hover:text-gray-700 p2"
                  >my profile</a>
            </li>
            <li class="mr-6">
              <a href="{{ url_for('auth.logout') }}"
                  class="text-sky-700 hover:text-gray-700 p2"
                  >logout {{ g.user['username'] }}</a>
            </li>
        </ul>

    {% else %}

        <ul class="flex pl-2">
            <li class="mr-6">
               <a href="{{ url_for('message.index') }}"
                  class="text-sky-700 hover:text-gray-700 p2"
                  >chat</a>
            </li>
            <li class="mr-6">
              <a href="{{ url_for('auth.register') }}"
                  class="text-sky-700 hover:text-gray-700 p2"
                  >register</a>
            </li>
            <li class="mr-6">
              <a href="{{ url_for('auth.login') }}"
                  class="text-sky-700 hover:text-gray-700 p2"
                  >login</a>
            </li>
        </ul>

    {% endif %}

    {% block header %}{% endblock %}

    {% for message in get_flashed_messages() %}

        <div class='p-4 max-w-sm mx-auto rounded-xl shadow-lg flex items-center space-x-2'>
            <div>
                <div class='text-xl font-medium text-black'>
                    notice
                </div>
                <p class='text-slate-500'>
                {{ message }}
                </p>
            </div>
        </div>

    {% endfor %}

    <div class='content'>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
