{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} edit profile{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post" accept-charset="utf-8">
    <div class="form-group">
        <label for="about">about</label>
        <textarea name="about" id="about">{{ g.user.about }}</textarea>
    </div>
    <div class="form-group">
        <label for="avatar">profile pic</label>

{% for pic in profile_pics %}
        <input type="radio" name="avatar" id="avatar" value="{{ pic }}"
        {{ "checked" if pic == g.user.avatar }}
        required>
        <img src="{{ profile_pic(pic) }}"
         class="avatar" />
{% endfor %}


    </div>
    <div class="form-group">
        <label for="private">private profile</label>
        <input type="checkbox" name="private" id="private" {{ "checked" if g.user.private == 1 }}>
    </div>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <input type="submit" value="save" />
    <a href="/profile" class='cancel-button'>
        <button type="button">cancel</button>
    </a>
</form>


{% endblock %}
