{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} edit profile{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post" accept-charset="utf-8">
    <div class="form-group">
        <label for="about">about</label>
        <textarea name="about" id="about">{{ g.user.about }}</textarea>
    </div>
    <div class="form-group">
        <label for="avatar">profile pic</label>
        <input type="text" name="avatar" id="avatar" value="{{ g.user.avatar }}" required>
    </div>
    <div class="form-group">
        <label for="private">private profile</label>
        <input type="checkbox" name="private" id="private" {{ "checked" if g.user.private == 1 }}>
    </div>

    <input type="submit" value="save" />
</form>

<a href="/profile">cancel</a>

{% endblock %}
