{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}your profile{% endblock %}</h1>
{% endblock %}

{% block content %}

<ul>
    <li> user: {{ g.user['username'] }} </li>
    <li> profile pic: <img src="{{ url_for('static', filename='profiles/'+g.user.avatar+'.png') }}" alt="avatar"/></li>
    <li> about: {{ g.user['about'] }}
    <li> your profile is currently {{ "private" if g.user.private else "public"}} </li>
</ul>

<ul>
    <li><a href="/profile/edit">edit profile</a></li>
    <li><a href="/">messages</a></li>
</ul>

{% endblock %}
