{% extends 'base.html' %}

{% block header %}
<h1 class="text-3xl py-6 pl-2">{% block title %}new message{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post" accept-charset="utf-8">
    <div class="form-group">
        <label for="text">text</label>
        <input type="text" name="text" id="text"
            value="" placeholder="message text" required>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </div>

    <input type="submit" value="save" />
</form>

<a href="/">cancel</a>

{% endblock %}

