<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}" type="text/css" media="all">
    <link rel="icon" type="image/png"
        href="{{ url_for('static', filename='favicon.png') }}" />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    {% if g.user %}
        <nav>
        <ul>
            <li>
               <a href="{{ url_for('index') }}">chat</a>
            </li>
            <li>
               <a href="{{ url_for('profile.profile')}}" >my profile</a>
            </li>
            <li>
              logged in as {{ g.user['username'] }}
              (<a href="{{ url_for('auth.logout') }}">logout</a>)
            </li>
        </ul>
        </nav>
        {% else %}
        <nav>
        <ul>
            <li>
               <a href="{{ url_for('index') }}">chat</a>
            </li>
            <li>
              <a href="{{ url_for('auth.register') }}">register</a>
            </li>
            <li>
              <a href="{{ url_for('auth.login') }}">login</a>
            </li>
        </ul>
        </nav>
    {% endif %}

    {% block header %}{% endblock %}

    {% for message in get_flashed_messages() %}
      <div class='flash'>{{ message }}</div>
    {% endfor %}

    <div class='content'>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
