<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# remove this for deployment: #}
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='style.css') }}" media="all">
    <link rel="icon" type="image/png"
        href="{{ url_for('static', filename='favicon.png') }}" />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    {% if g.user %}

        <nav>
        <ul>
            <li>
               <a href="{{ url_for('index') }}">chat</a>
            </li>
            <li>
               <a href="{{ url_for('profile.profile')}}" >my profile</a>
            </li>
            <li>
              logged in as {{ g.user['username'] }}
              (<a href="{{ url_for('auth.logout') }}">logout</a>)
            </li>
        </ul>
        </nav>

    {% else %}

        <nav>
        <ul>
            <li>
               <a href="{{ url_for('index') }}">chat</a>
            </li>
            <li>
              <a href="{{ url_for('auth.register') }}">register</a>
            </li>
            <li>
              <a href="{{ url_for('auth.login') }}">login</a>
            </li>
        </ul>
        </nav>

    {% endif %}

    {% block header %}{% endblock %}

    {% for message in get_flashed_messages() %}

        <div class='p-4 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-2'>
            <div>
                <div class='text-xl font-medium text-black'>
                    notice
                </div>
                <p class='text-slate-500'>
                {{ message }}
                </p>
            </div>
        </div>

    {% endfor %}

    <div class='content'>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
