{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}index{% endblock %}</h1>
{% endblock %}

{% block content %}

{% if g.user %}
<ul>
    <li><a href="/create">write message</a></li>
    <li><a href="/profile">my profile</a></li>
</ul>
{% endif %}

<ul>
{% for message in messages %}
    <li>
        <i>{{ message.created }} |
            <a href="/user/{{ message.author_id }}" >{{ message.username }}</a> |
           {{ message.avatar }} |
        </i>
        {{ message.text }}
    </li>
{% endfor %}
</ul>

{% endblock %}
