{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}chat{% endblock %}</h1>
{% endblock %}

{% block content %}

<ul>
{% for message in messages %}
    <li>
        <i>{{ message.created }} |
            <a href="/user/{{ message.author_id }}" >
            <img src="{{ profile_pic(message.avatar) }}"
                alt="avatar" class="avatar" />
                {{ message.username }}
            </a> |
        </i>
        {{ message.text }}
    </li>
{% endfor %}
</ul>

<form method="post" accept-charset="utf-8">
    <input type="text" name="text"
        id="text" value="" placeholder="{{ "write your message here"
                           if g.user else "log in to start chatting" }}"
        class="chatbar" required
        {{ "disabled" if not g.user }}>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
</form>

{% endblock %}
