/* TODO add a bit of style */

.avatar {
    /* keep pixel art crip: */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    width: 32px;
    height: 32px;
}
